.glb-widget {
    &__form {
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
    }
}
.glbwf {
    &__row {
        margin-bottom: 20px;
        input[type=text],
        input[type=email],
        input[type=password],
        input[type=number],
        input[type=tel] {
            height: 30px;
            padding: 0 10px 5px;
            font-size: 12px;
            background-color: #fff;
            border: 1px solid #CED4DA;
            border-radius: 4px;
            color: #000;
            font-family: $base-font;
            width: 100%;
            @include placeholder {
                color: rgba(#63666F, .5) !important;
                font-family: $base-font;
            }
        }
        label {
            font-size: 14px;
            color: #000;
            display: block;
            padding-bottom: 3px;
        }
    }
    &__rows {
        display: flex;
        align-items: flex-end;
        margin-left: -6px;
        margin-right: -6px;
        .glbwf__row {
            flex-basis: calc(33.333% - 12px);
            margin-left: 6px;
            margin-right: 6px;
        }
    }
}