.glb-widget {
    &__detail {
        > p {
            margin: 0 0 15px;
            font-size: 14px;
            line-height: 20px;
            color: #000;
        }
    }
}
.glbwd {
    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        padding: 10px 0 30px;
        border-bottom: 1px solid $color-5;
        color: $color-1;
        .price {
            margin-left: 3px;
        }
    }
    &__addons {
        padding-top: 30px;
        .a-title {
            font-size: 14px;
            color: #000;
            margin-bottom: 5px;
            span {
                color: $color-3;
            }
        }
        .a-row {
            padding: 17px 0;
            border-bottom: 1px solid $color-5;
            position: relative;
            &:last-of-type {
                border: 0;
            }
        }
        .glbwf__row {
            margin-bottom: 0;
        }
        &.--alt {
            .a-row {
                &:first-child {
                    border-top: 1px solid $color-5;
                }
            }
        }
        label {
            color: $color-1;
            font-size: 16px;
            position: relative;
            cursor: pointer;
            display: block;
            padding-right: 20px;
            &:before {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                top: 1px;
                width: 20px;
                height: 20px;
                border-radius: 4px;
                border: 2px solid $color-1;
                transition: .3s ease;
            }
            &:after {
                content: '';
                background-image: url(../img/icons/plus.svg);
                background-size: contain;
                background-repeat: no-repeat;
                color: #fff;
                width: 14px;
                height: 14px;
                font-size: 27px;
                position: absolute;
                right: 5px;
                top: 6px;
                opacity: 0;
                transition: .3s ease;
            }
            span {
                color: $color-3;
            }
        }
        input[type=checkbox] {
            display: none;
            &:checked {
                + label {
                    &:before {
                        background-color: $color-1;
                    }
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
        input[type=radio] {
            display: none;
            + label {
                &:before {
                    border-radius: 50%;
                }
                &:after {
                    content: '';
                    width: 18px;
                    height: 18px;
                    background-image: none;
                    background-color: $color-1;
                    border-radius: 50%;
                    right: 3px;
                    top: 4px;
                }
            }
            &:checked {
                + label {
                    &:before {
                        background-color: #fff;
                    }
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
        .add-field ~ label {
            padding-right: 130px;
            &:before {
                right: 140px;
            }
            &:after {
                right: 143px !important;
            }
        }
        .add-field {
            position: absolute;
            right: 0;
            top: 12px;
            width: 100px;
            z-index: 1;
            input {
                padding-left: 25px;
            }
            .value-label {
                position: absolute;
                left: 10px;
                top: 1px;
            }
        }
    }
    &__cta {
        padding-top: 30px;
        text-align: center;
        &.--next {
            margin-top: auto;
        }
    }
}