body {
    margin: 0;
    background-color: #000;
}
.glb-widget {
    box-sizing: border-box;
    font-family: $base-font;
    max-width: 550px;
    background-color: #fff;
    min-height: 300px;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    @include custom_scroll(white, white, #000, .7, 5px);
    * {
        box-sizing: border-box;
    }
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-1;
        padding: 27px 25px;
    }
    &__logo {
        width: 125px;
        height: 23px;
        background-image: url(../img/logo-1.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    &__content {
        padding: 6vw 6vw 30px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        transition: .3s ease;
    }
    &__title {
        font-size: 32px;
        font-family: $secondary-font;
        margin-bottom: 2.9vw;
        color: $color-2;
        display: flex;
        align-items: center;
        h2, h3, h4 {
            font: inherit;
            margin: 0;
        }
        i {
            font-family: $secondary-italic-font;
            font-style: normal;
        }
    }
    &__back {
        width: 35px;
        min-width: 35px;
        height: 35px;
        text-indent: -99999px;
        font-size: 0;
        position: relative;
        margin-left: -5vw;
        margin-right: 3vw;
        cursor: pointer;
        + h2 {
            width: 100%;
            text-align: center;
        }
        &:before {
            content: '';
            width: 8px;
            height: 8px;
            position: absolute;
            left: 15px;
            top: 12px;
            display: block;
            border-top: 2px solid #000;
            border-left: 2px solid #000;
            transform: rotate(-45deg);
            transition: .3s ease;
        }
        &:hover {
            &:before {
                margin-left: -5px;
            }
        }
    }
}
